{% load staticfiles %}
<html>
    <head>
        <title>Tharun's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="container">
        <div class="jumbotron">
        <div class="page-header">
            <center>
            <h1 style="font-family: 'Cabin Condensed', sans-serif;"><a href="/">Tharun's Blog</a></h1></center>
        </div>

        {% for post in posts %}
            <div class="post">
                <h2 style="font-family: 'Acme', sans-serif;color:#CF3DC6;"><a href="">{{ post.title }}</a></h2>
                <p style="padding-left:650px;font-family: 'Poor Story', cursive;font-size:25px;">published: {{ post.published_date }}</p>
                <p style="font-family: 'Rancho', cursive;font-size:30px;">{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
            </div>
    </div>
    </body>
</html>